.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box {
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ny {
  background-image: url('img/new-york.jpg');
  width: 100%;
}
.london {
  background-image: url('img/london.jpg');
  width: 100%;
}
.napa {
  background-image: url('img/napa.jpg');
  width: 100%;
}
.san-fran1 {
  background-image: url('img/san-francisco.jpg');
  width: 100%;
}
.san-fran2 {
  background-image: url('img/san-francisco-2.jpg');
  width: 100%;
}
.sonoma {
  background-image: url('img/sonoma.jpg');
  width: 100%;
}
.text {
  position: absolute;
  top: 40%;
  left: 38%;
  color: azure;
  font-size: 32px;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: gray;
}
.button {
  position: absolute;
  left: 45%;
}
h5 {
  text-align: center;

  color: gray;
}
