@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #56595E;
  background-color: #EDEFEC;
  padding: 50px 0px 50px 0px;
}

img {
  width: 315px;
  height: 350px;
  margin: 20px;
  overflow:hidden;
  position: relative;
}

.cities {
  display: flex;
  margin: 0 auto;
  position: relative;
}

p {
  font-weight: 500;
}

.container {
  width: 315px;
  height: 340px;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  margin: 16px;
}

#san-fran {
  background-image: url(../img/san-francisco.jpg);
}

#new-york {
  background-image: url(../img/new-york.jpg);
}

#london {
  background-image: url(../img/london.jpg);
}

#napa {
  background-image: url(../img/napa.jpg);
}

#sonoma {
  background-image: url(../img/sonoma.jpg);
}

#san-fran2 {
  background-image: url(../img/san-francisco-2.jpg);
}

button {
  padding: 10px 20px;
  width: 315px;
  height: 40px;
  font-weight: 700;
  color: #56595E;
  background-color: white;
  border: 1px solid #b2b4b8;
  box-sizing: border-box;  
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 40px 0px;
  /* MARGIN IS GETTING MIXED UP WITH THE CITIES DIV */
}

.text {
  left: 0;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  font-weight: 700;
  color: white;
  font-size: 2em;
}
